/*---------*/
:root {
  --color-dark: #2e2f42;
  --color-text: #434455;
  --color-primary-brand: #4d5ae5;
  --color-pressed: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark);
}
.header-logo span {
  color: var(--color-primary-brand);
}
.header-menu {
  list-style-type: none;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  text-decoration: none;
}

.header-menu-link:focus,
.header-menu-link:hover {
  color: var(--color-pressed);
}

.header-adr-list {
  list-style-type: none;
}

.header-adr-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

.header-adr-link:hover,
.header-adr-link:focus {
  color: var(--color-pressed);
}

.hero {
  background-color: var(--color-dark);
}
.heero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  background-color: var(--color-primary-brand);
  color: #ffffff;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-pressed);
  cursor: pointer;
}
